# SSH and database credentials
dbreddit = {'ssh_host_ip': 'IP_ADDRESS',
            'dbname': 'DATABASE_NAME',
            'user': 'USERNAME',
            'password': 'PASSWORD',
            }


# Local project directories
raw_data_files = '/filepath/raw_reddit_data'
project_dir = 'filepath/reddit-health-claims'
clustering_dir = '{}/subreddit_clustering'.format(project_dir)
classification_dir = '{}/health_claims_classification'.format(project_dir)

post_data_by_source_file = '{}/posts_by_source_file'.format(project_dir)


